<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/images/Logo/logoDark.png">
    <link rel="stylesheet" href="src/Styles/designSystem.css">
    <link rel="stylesheet" href="src/Styles/index.css">
    <script src="src/Styles/main.js" defer></script>
    <title>Ludo - Home</title>
</head>
<body>
    <div class="hero">
        <div class="navbar container">
            <div class="navbar__logo">
                <img src="src/Images/Logo/logoWhite.png" alt="" class = "navbar__logo--image responsive-image">
                <div class="navbar__logo--text">Ludo</div>
            </div>
            <div class="navbar__menu hidden">
                <a href="index" class="navbar__menu--1">Home</a>
                <a href="modes" class="navbar__menu--2">Modes</a>
                <a href="rules" class="navbar__menu--3">Rules</a>
                <a href="motivation" class="navbar__menu--4">Motivation</a>
                <a href = "contact" class = navbar__menu--5>Contact</a>
            </div>
            <div class="navbar__icons">
                <i class="bi bi-list"></i>
                <i class="bi bi-x-lg hide"></i>
            </div>
        </div>
        <div class="sectionOne grid container">
            <div class="sectionOne__left">
                <div class="sectionOne__left--title common-title text-white">one of the most exciting boardgames is here!</div>
                <div class="sectionOne__left--text">Regardless of your age, Ludo is guaranteed* to plaster a smile on your face!</div>
                <div class="sectionOne__left--note">*or not, depending on how competitive you are</div>
            </div>
            <div class="sectionOne__right">
                <img src="src/Images/Home/s1.png" alt="" class = "sectionOne__right--image responsive-image">
            </div>
        </div>
    </div>

    <div class="sectionTwo container">
        <div class="sectionTwo__label label text-blue">history</div>
        <div class="sectionTwo__content grid">
            <div class="sectionTwo__left">
                <img src="src/Images/Home/s2.jpg" alt="" class="sectionTwo__left--image responsive-image">
            </div>
            <div class="sectionTwo__right">
                <div class="sectionTwo__right--title common-title text-blue">It dates back to the 6th century</div>
                <div class="sectionTwo__right--text">According to the material available about Ludo, it dates back to the 6th century. Many former rulers played the board game, also known as Pachisi, with the Mughal emperor Akbar being a notable example. Instead of the usual shells or seeds, the monarch used females from his harem as game pieces on a life-sized board.</div>
                <button class="sectionTwo__right--btn dark-btn">Learn More</button>
    
            </div>
        </div>
    </div>
    <div class="sectionThree container">
        <div class="sectionThree__label label text-blue">ludo board</div>
        <div class="sectionThree__content grid">
            <div class="sectionThree__left">
                <div class="sectionThree__left--title common-title text-blue">4 colors and a cross-shaped playspace</div>
                <div class="sectionThree__left--text">Special areas of the Ludo board are typically coloured bright yellow, green, red, and blue. Each player is assigned a colour and has four tokens in their colour. The board is normally square with a cross-shaped playspace, with each arm of the cross having three columns of squares, usually six per column. </div>
                <button class="sectionThree__left--btn dark-btn">Explore</button>
            </div>
            <div class="sectionThree__right">
                <img src="src/Images/Home/s3.png" alt="" class="sectionThree__right--image responsive-image">
            </div>
        </div>
    </div>

    <div class="hero">
        <footer class="footer container">© Ludo, 2024. All rights reserved.</footer>
    </div>
</body>
</html>