<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/images/Logo/logoDark.png">
    <link rel="stylesheet" href="src/Styles/designSystem.css">
    <link rel="stylesheet" href="src/Styles/login.css">
    <title>Login</title>
</head>
<body>
    <form method="post" action="login" id="formular" class="textForm">
        <h1 class="subtitlu">Login</h1>
        <div class="inputControl">
            <label for="user">User:</label>
            <input type="text" name="username" id="user" />
        </div>
    
        <div class="inputControl">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" />
        </div>
    
        <button type="submit" class="dark-btn" id="buton">Login</button>
    </form>    
</body>
</html>