<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LudoJS Tutorial</title>
    <link rel="stylesheet" href="src/Styles/ludo.css">
    <link rel = "stylesheet" href = "src/Styles/designSystem.css">
</head>
<body>
    <div class="hero">
        <div class="navbar container">
            <div class="navbar__logo">
                <img src="src/Images/Logo/logoWhite.png" alt="" class = "navbar__logo--image responsive-image">
                <div class="navbar__logo--text">Ludo</div>
            </div>
            <div class="navbar__menu hidden">
                <a href="index" class="navbar__menu--1">Home</a>
                <a href="modes" class="navbar__menu--2">Modes</a>
                <a href="rules" class="navbar__menu--3">Rules</a>
                <a href="motivation" class="navbar__menu--4">Motivation</a>
                <a href = "contact" class = navbar__menu--5>Contact</a>
            </div>
            <div class="navbar__icons">
                <i class="bi bi-list"></i>
                <i class="bi bi-x-lg hide"></i>
            </div>
        </div>
    </div>

    <div class="ludo-container">
        <div class="ludo">
            <div class="player-pieces">
                <div class="player-piece" player-id="P1" piece="0"></div>
                <div class="player-piece" player-id="P1" piece="1"></div>
                <div class="player-piece" player-id="P1" piece="2"></div>
                <div class="player-piece" player-id="P1" piece="3"></div>
                
                <div class="player-piece" player-id="P2" piece="0"></div>
                <div class="player-piece" player-id="P2" piece="1"></div>
                <div class="player-piece" player-id="P2" piece="2"></div>
                <div class="player-piece" player-id="P2" piece="3"></div>
            </div>

            <div class="player-bases">
                <div class="player-base" player-id="P1"></div>
                <div class="player-base" player-id="P2"></div>
            </div>
        </div>
        <div class="footer">
            <div class="row">
                <button id="dice-btn" class="btn btn-dice">Roll</button>
                <div class="dice-value"></div>
                <button id="reset-btn" class="btn btn-reset">Reset</button>
            </div>
            <h2 class="active-player">Active Player: <span></span> </h2>
        </div>
    </div>

    <script src="src/Styles/ludo.js" type="module"></script>
</body>
</html>