<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/images/Logo/logoDark.png">
    <link rel="stylesheet" href="src/Styles/designSystem.css">
    <link rel="stylesheet" href="src/Styles/modes.css">
    <script src="src/Styles/main.js" defer></script>
    <title>Ludo - Modes</title>
</head>
<body>
    <div class="hero">
        <div class="navbar container">
            <div class="navbar__logo">
                <img src="src/Images/Logo/logoWhite.png" alt="" class = "navbar__logo--image responsive-image">
                <div class="navbar__logo--text">Ludo</div>
            </div>
            <div class="navbar__menu hidden">
                <a href="index" class="navbar__menu--1">Home</a>
                <a href="modes" class="navbar__menu--2">Modes</a>
                <a href="rules" class="navbar__menu--3">Rules</a>
                <a href="motivation" class="navbar__menu--4">Motivation</a>
                <a href = "contact" class = navbar__menu--5>Contact</a>
            </div>
            <div class="navbar__icons">
                <i class="bi bi-list"></i>
                <i class="bi bi-x-lg hide"></i>
            </div>
        </div>
        <div class="sectionOne container grid">
            <div class="sectionOne__left">
                <div class="sectionOne__left--title text-white common-title">Wanna spice things up?</div>
                <div class="sectionOne__left--text">This game has two different modes: the classic one that we all are familiar with and a more difficult mode where tiles on the board have different features and deciding what token to move is a race against the clock.</div>
            </div>
             <div class="sectionOne__right">
                <img src="src/Images/Modes/s1.png" alt="" class="sectionOne__right--image responsive-image">
             </div>
        </div>
    </div>
    <div class="sectionTwo container">
        <div class="sectionTwo__label label text-blue">classic mode</div>
        <div class="sectionTwo__content grid">
            <img class="sectionTwo__content--left responsive-image" src="src/Images/Modes/s2.png" alt=""></img>
            <div class="sectionTwo__content--right">
                <div class="sectionTwo__content--right--title common-title text-blue">Duo Ludo: Bring one of your friends and may the fun begin...</div>
                <div class="sectionTwo__content--right--text">The Duo Ludo is as simple as it gets: 2 players have 4 tokens each. Initially, all tokens are in the players's house. To get a token out of house and consequently
                    in game, you must roll a six. Once a token is in game you can move it according to the rolled value. During the game, whenever a player's token lands in the same tile as yours, you're token will be sent to the initial position, inside the house.</div>
                <a href = 'ludo'class="sectionTwo__content--right--btn dark-btn">Try it now</a>
            </div>
        </div>
    </div>

    <div id="bcg">
        <div class="sectionThree container">
            <div class="sectionThree__label label text-white">hard mode</div>
                <div class="sectionThree__content grid">
                    <div class="sectionThree__content--left">
                        <div class="sectionThree__content--left--title common-title text-white"> to be announced...</div>
                        <div class="sectionThree__content--left--text"></div>
                        <div class="sectionThree__content--left--btn"></div>
                    </div>
                    <img class="sectionThree__content--image responsive-image" src="src/Images/Modes/s3.png" alt=""></img>
            </div>
        </div>
    </div>


    <div class="hero">
        <footer class="footer container">© Ludo, 2024. All rights reserved.</footer>
    </div>
    
</body>
</html>