<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="src/images/Logo/logoDark.png">
    <link rel="stylesheet" href="src/Styles/designSystem.css">
    <link rel="stylesheet" href="src/Styles/motivation.css">
    <script src="src/Styles/main.js" defer></script>
    <title>Ludo - Motivation</title>
</head>
<body>
    <div class="hero">
        <div class="navbar container">
            <div class="navbar__logo">
                <img src="src/Images/Logo/logoWhite.png" alt="" class = "navbar__logo--image responsive-image">
                <div class="navbar__logo--text">Ludo</div>
            </div>
            <div class="navbar__menu hidden">
                <a href="index" class="navbar__menu--1">Home</a>
                <a href="modes" class="navbar__menu--2">Modes</a>
                <a href="rules" class="navbar__menu--3">Rules</a>
                <a href="motivation" class="navbar__menu--4">Motivation</a>
                <a href = "contact" class = navbar__menu--5>Contact</a>
            </div>
            <div class="navbar__icons">
                <i class="bi bi-list"></i>
                <i class="bi bi-x-lg hide"></i>
            </div>
        </div>

        <div class="sectionOne grid container">
            <div class="sectionOne__left">
                <div class="sectionOne__left--title common-title text-white">why ludo? why now?</div>
                <div class="sectionOne__left--text">A story about a competitive, stubborn child who loves winning...</div>
            </div>
            <div class="sectionOne__right">
                <img src="src/Images/Home/s1.png" alt="" class = "sectionOne__right--image responsive-image">
            </div>
        </div>

        <div class = "sectionTwo grid container">

        </div>
       
    </div>
    
</body>
</html>